.dogs-table-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  //margin-top: 2rem;
}

.dogs-table {
  width: 100%;
  max-width: 500px;
  border-collapse: separate;
  border-spacing: 0 1rem;
}

.dogs-table th, .dogs-table td {
  text-align: center;
  padding: 0.5rem 1rem;
}

.dog-name-btn {
  font-size: 1.3rem;
  border-radius: 2rem;
  width: 100%;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(229,57,53,0.15);
  margin: 0.2rem 0;
  min-height: 5.5rem; /* zwiększona wysokość */
  padding-top: 1.5rem; /* zwiększony padding */
  padding-bottom: 1.5rem;

  &.disabled {
    opacity: 1;
  }
}

.red-btn {
  --background: #e53935;
  --color: #fff;
}

.green-btn {
  --background: #43a047;
  --color: #fff;
}

@media (max-width: 600px) {
  .dogs-table {
    font-size: 0.95rem;
    max-width: 100%;
  }
  .dog-name-btn {
    font-size: 1rem;
    min-height: 4rem; /* zwiększona wysokość na mobile */
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    max-width: 100%;
    // text ellipsis
    //white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.legend-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.7rem auto 0.2rem auto;
  font-size: 0.93rem;
  background: #fff;
  border-radius: 1.2rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
  padding: 0.5rem 1.2rem 0.7rem 1.2rem;
  min-width: 120px;
  max-width: 220px;
}

.legend-title {
  font-size: 0.92em;
  color: #888;
  font-weight: 500;
  margin-bottom: 0.2em;
  letter-spacing: 0.03em;
  text-align: center;
}

.legend-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.18em;
  margin-bottom: 0.2em;
  align-items: center;
}

.legend-row {
  display: flex;
  align-items: center;
  margin-bottom: 0.1em;
}

.legend-dot {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin-right: 0.35em;
  vertical-align: middle;
  border: 1.5px solid #eee;
}
.red-dot {
  background: #e53935;
}
.green-dot {
  background: #43a047;
}
.legend-label {
  color: #444;
  font-size: 0.97em;
}
.legend-instruction {
  width: 100%;
  text-align: center;
  color: #aaa;
  font-size: 0.87em;
  font-style: italic;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}


.live{
  color:gray;
  font-size: 0.6rem;
  display: inline-block;
}


.pres-val {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 3px;
  margin-bottom: 2px;
}
