<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Psy w schronisku
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Psy w schronisku</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="dogs-table-wrapper">
    <table class="dogs-table">
      <thead>
        <tr>
          <th>BOX</th>
          <th>IMIĘ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dog of dogs">
          <td>{{ dog.box }}</td>
          <td>
            <ion-button expand="block" class="dog-name-btn">{{ dog.imie }}</ion-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
