<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Spacery <h2 class="live" *ngIf="live">LIVE</h2> <h2 class="live" *ngIf="!live">Testing</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid class="ion-padding-top ion-padding-start">
    <ion-row class="ion-align-items-center">
      <ion-col size="auto" class="">
        <ion-icon name="ellipse" color="danger"></ion-icon>
      </ion-col>
      <ion-col size="4" class="ion-no-padding">nie był</ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="auto" class="">
        <ion-icon name="ellipse" color="success"></ion-icon>
      </ion-col>
      <ion-col size="4" class="ion-no-padding">był</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12"><small><i>Kliknij w imię psa, aby zaznaczyć spacer całego boxu</i></small></ion-col>
    </ion-row>
  </ion-grid>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Spacery</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-spinner *ngIf="isLoading" name="crescent" class="ion-margin"></ion-spinner>
  <ion-text color="danger" *ngIf="loadError">{{ loadError }}</ion-text>
  <div class="dogs-table-wrapper" *ngIf="!isLoading && !loadError">
    <table class="dogs-table">
      <thead>
        <tr>
          <th>BOX</th>
          <th>IMIĘ</th>
          <!--<th>STATUS</th>-->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dog of dogs">
          <td>{{ dog.box }}</td>
          <td>
            <ion-button expand="block" class="dog-name-btn" [ngClass]="{'green-btn': dog.status, 'red-btn': !dog.status}" (click)="onDogClick(dog)" [disabled]="dog.status === 'X' || dog.status === 'x'">{{ dog.name }}</ion-button>
            <ion-text color="danger" *ngIf="markError">{{ markError }}</ion-text>
            <div *ngIf="dog.recentPresence" style="display:flex; gap:4px; margin-top:4px;justify-content:space-between;">
              <ng-container *ngFor="let presence of dog.recentPresence">
                <div style="display:flex; flex-direction:column; align-items:center;">
                  <div [style.background]="presence.value ? '#2dd36f' : '#eb445a'" style="width:16px; height:16px; border-radius:3px; margin-bottom:2px;">{{presence.value}}</div>
                  <span style="font-size:0.9em; color:#888;">{{ getShortDate(presence.date) }}</span>
                </div>
              </ng-container>
            </div>
          </td>
<!--
          <td class="ion-text-center">
            {{dog.status}}
          </td>
-->
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
