<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Moje psy
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-grid class="ion-padding-top ion-padding-start">
    <ion-row class="ion-align-items-center">
      <ion-col size="auto" class="">
        <ion-icon name="ellipse" color="danger"></ion-icon>
      </ion-col>
      <ion-col size="4" class="ion-no-padding">nie był</ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="auto" class="">
        <ion-icon name="ellipse" color="success"></ion-icon>
      </ion-col>
      <ion-col size="4" class="ion-no-padding">był</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12"><small><i>Kliknij w imię psa, aby zaznaczyć spacer</i></small></ion-col>
    </ion-row>
  </ion-grid>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Moje psy</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="dogs-table-wrapper">
    <table class="dogs-table">
      <thead>
        <tr>
          <th>BOX</th>
          <th>IMIĘ</th>
          <th>STATUS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dog of dogs">
          <td>{{ dog.box }}</td>
          <td>
            <ion-button expand="block" class="dog-name-btn" [ngClass]="{'green-btn': !dog.status, 'red-btn': dog.status}" (click)="onDogClick(dog)">{{ dog.imie }}</ion-button>
          </td>
          <td class="ion-text-center">
            {{dog.status}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
