<ion-header>
  <ion-toolbar>
    <ion-title>O aplikacji</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>
    <ion-icon name="logo-android" style="vertical-align:middle;color:#3ddc84;font-size:1.5em;"></ion-icon>
    <span style="margin-left:0.5em;"></span>
  </p>
  <div style="text-align:center; margin-bottom: 1em;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/3/3e/Android_logo_2019.png" alt="Android logo" style="height:48px;width:auto;opacity:0.85;" loading="lazy" />
  </div>
  <p style="text-align: center;color:black;">
    <a href="https://github.com/therepo90/shelter/raw/refs/heads/main/releases/app.apk" target="_blank" rel="noopener" style="color:black;">
      Pobierz aplikację na Androida
    </a>
  </p>
  <div style="text-align:center; margin-bottom: 1.5em;">
    <a href="https://github.com/therepo90/shelter" target="_blank" style="font-size:0.6em; color:#888; text-decoration:underline;">Kod źródłowy: https://github.com/therepo90/shelter</a>
  </div>
  <div style="position: absolute; bottom: 24px; left: 0; width: 100%; text-align: center;">
    <span style="font-size: 0.9em; color: #888;">&copy; <a href="https://therepo90.github.io" style="color:black;" target="_blank">RepoGamesStudio</a></span>
  </div>
  <div style="position: absolute; bottom: 8px; left: 0; width: 100%; text-align: center;">
    <span style="font-size: 0.6em; color: gray;">Wersja: v{{version}}</span>
  </div>
</ion-content>
